<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full mx-auto px-6 py-12">
    
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign up to your account</h2>
        <form method="POST" action="" class="mt-8">
            {% csrf_token %}
            
            <div class="mt-6">
                <label for="id_username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                <div class="mt-2">
                    <input type="text" name="username" id="id_username" class="block w-full md:w-96 rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 text-sm leading-6" placeholder="Username">
                </div>
            </div> 
            
            <div class="mt-6">
                <label for="id_email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                <div class="mt-2">
                    <input type="email" name="email" id="id_email" class="block w-full md:w-96 rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 text-sm leading-6" placeholder="Email">
                </div>
            </div> 

            <div class="mt-6">
                <label for="id_password1" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="mt-2">
                    <input type="password" name="password1" id="id_password1" class="block w-full md:w-96 rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 text-sm leading-6" placeholder="Password">
                </div>
            </div>

            <div class="mt-6">
                <label for="id_password2" class="block text-sm font-medium leading-6 text-gray-900">Confirm Password</label>
                <div class="mt-2">
                    <input type="password" name="password2" id="id_password2" class="block w-full md:w-96 rounded-md border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder-gray-400 focus:ring-2 focus:ring-indigo-600 text-sm leading-6" placeholder="Confirm Password">
                </div>
            </div>

            <div class="mt-6">
                <button type="submit" class="block w-full bg-indigo-600 py-2 px-4 text-white font-semibold text-sm rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 focus:ring-offset-white">Sign up</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
